a {
  font-weight: 500;
  color: #AA5353;
  text-decoration: inherit;
}
a:hover {
  color: darkgray;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: #AA5353;
}
